@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}
h1 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 144px;
	line-height: 176px;
	text-transform: uppercase;
}
h2 {
	font-family: 'Kaushan Script';
	font-style: normal;
	font-weight: 400;
	font-size: 64px;
	line-height: 93px;
	color: #000000;
}
.button {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	border: 4px solid #FFFFFF;
	color: #FFFFFF;
	padding: 10px 40px;
}
.button:hover {
	background: #FFFFFF;
	color: #E4BE8D;
}
.button:active, .button:focus {
	color: #E4BE8D;
	background: #FFFFFF;
	border: 4px solid #FFFFFF;
	outline: none;
}
.text p {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}