.map {
	background: url("./background.png") center no-repeat;
	max-height: 231px;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
	z-index: 1;
	padding: 42px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.map__title {
	font-family: 'Raleway';
	font-weight: 900;
	font-size: 36px;
	text-transform: uppercase;
	color: #F38281;
}