.about {
	margin-top: 42px;
	margin-bottom: 108px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.about__intro {
	font-family: Kaushan Script;
	font-size: 30px;
	font-weight: 400;
	line-height: 44px;
	text-align: center;
}
.about__title {
	font-family: Raleway;
	font-size: 36px;
	font-weight: 900;
	line-height: 42px;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	padding: 0;
}
.about__line {
	padding: 24px 0 24px 0;
}
.about__text {
	font-family: Raleway;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	text-align: center;
}
.about__gallery {
	display: flex;
	gap: 30px;
	padding-top: 58px;
}
.about__image {
	max-width: 370px;
	height: 100%;
}
.about__galleryItem {
	position: relative;
}
.about__galleryItem::before {
	content: " ";
	display: none;    
	width: 100%;
	height: 100%;    
	position: absolute;
	top: -16px;      
	left: -16px;   
	background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
}
.about__galleryItem::after {
	content: " ";
	display: none;    
	width: 100%;
	height: 100%;    
	position: absolute;
	top: -16px;      
	left: -16px;   
	background: url("./about__icon.png") 0 0 no-repeat;
	background-position: center center;
}
.about__galleryItem:hover::before {
	display: block;
}
.about__galleryItem:hover::after {
	display: block;
}
