.design {
	padding-top: 42px;
	display: flex;
	flex-direction: column;
	padding-bottom: 57px;
	align-items: center;
	gap: 30px;
	background: url("./image.png") center no-repeat;
	max-height: 820px;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
	z-index: 1;
}

.design__subtitle {
	font-family: Kaushan Script;
	font-size: 30px;
	font-weight: 400;
	line-height: 44px;
	text-align: center;
	color: #2D3033;
}

.design__line {
	margin-bottom: 39px;
}

.design__title {
	font-family: Raleway;
	font-size: 36px;
	font-weight: 900;
	line-height: 42px;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	padding: 0;
	color: #2D3033;
}

.design__devices {
	position: relative;
}

.design__devicesPhone {
	position: absolute;
	bottom: -100px;
	right: 190px;
}

@media screen and (max-width: 1024px) {
	.design__intro {
		font-size: 24px;
	}

	.design__line {
		margin-bottom: 39px;
	}

	.design__title {
		font-size: 24px;
	}

	.design__devices {
		position: relative;
	}

	.design__devicesTablet {
		max-width: 100%;
	}

	.design__devicesPhone {
		position: absolute;
		bottom: -54px;
		right: 44px;
	}

	.design__devices img {
		max-width: 288px;
	}

	.design__devicesPhone img {
		max-width: 60px;
	}
}